%nav.navbar.navbar-default{ role: :navigation }
  .container
    %button.navbar-toggle{ type: :button, data: { target: '#main-nav', toggle: 'collapse' } }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: '/' }
      URL Shortener
    .collapse.navbar-collapse#main-nav
      %ul.nav.navbar-nav
        %li
          = link_to 'Generate', urls_path
        %li
          = link_to 'API', grape_swagger_rails_path
      .navbar-right
        %ul.nav.navbar-nav
          %li
            .total-links{ data: { 'total-links': @total_links }}= "Total short links: #{@total_links}"

