$navbar-default-link-color: #6d1e4b;

@import "bootstrap-sprockets";
@import "bootstrap";

// NAVBAR

.navbar {
  .navbar-brand {
    color: #3f5a2c;
  }

  .total-links {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

// HEADERS

.page-header {
  color: #6f214d;
  margin-top: 0;
}

//ERROR

.error-text {
  color: #a94442;
}